.a-link-color{
    color: #0000ff;
}

.a-link-color:hover{
    color: #349ff1;
}

.card{
    box-shadow: 5px 5px 3px #c0c6c6 !important;
}


.card-shadow:hover{
    transform: scale(1.1, 1.1);
}

.customer-order p{
    line-height: 10px;
}

.coming {
    color: red;
    font-size: 3rem;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {color: red;}
    25%  {color: orange;}
    50%  {color: blue;}
    100% {color: green;}
}


